#demo
  padding: 20px

.demo__checked-value
  margin: 10px 0

.demo__navigator-btn
  display: inline-block
  padding: 10px 20px
  background: #f1f1f1
  cursor: pointer

.demo__chunk
  .as-items__chunk
    display: inline-block
    width: 30%
    vertical-align: top
    margin: 10px 30px 10px 0
    &:last-child
      margin-right: 0

.demo__searchable__search
  width: 400px
  margin-bottom: 30px